* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(221, 86, 8), rgb(250, 199, 122));
  font-family: sans-serif;
  color: white;
}

#cont {
  display: none;
}

#icon {
  width: 10rem;
}

#changeC {
  display: none;
}

#error {
  display: none;
}
