* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(57, 66, 119), rgb(142, 171, 175));
  font-family: sans-serif;
  color: white;
}

.weather,
.temperature {
  display: none;
}